{% macro apresentacao() %}
<div class="container-custom container">
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="jumbotron">
                <h1 class="display-4">Kássia Fotografia</h1> <!-- Título -->
                <p class="lead">
                    Enriquecendo sua beleza e sua essência, empoderando o que você ja possuí de raíz✨
                </p>
                <!-- Frase de marketing-->
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="https://api.whatsapp.com/send?phone=5521980205807"
                    role="button"><i class="bi bi-whatsapp"></i> CHAME
                    AGORA!</a>
                <a class="btn btn-primary btn-lg" href="https://www.instagram.com/kkahfotografia/" role="button"><i
                        class="bi bi-instagram"></i> VISITE!</a>
            </div>
        </div>

        <div class="col-sm-2 offset-4 ">
            <div>
                <img class="rounded-circle fotografa-img" src={{ url_for("static", filename="fotografa.png" )}}
                    alt="Card image cap">
            </div>
        </div>
    </div>
</div>

{%endmacro%}