{% macro contato_direto() %}
<div class="contato-direto">
    <div class="contato-direto-item">
        <a class="btn btn-primary btn-lg rounded-circle" href="https://api.whatsapp.com/send?phone=5521980205807"
            role="button"><i class="bi bi-whatsapp"></i></a>
    </div>
    <div class="contato-direto-item">
        <a class="btn btn-primary btn-lg rounded-circle" href="https://www.instagram.com/kkahfotografia/"
            role="button"><i class="bi bi-instagram"></i></a>
    </div>
</div>
{% endmacro %}