body {
    background-color: rgb(15, 15, 15);
    color: white;
}

.logo-header {
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.container-custom {
    margin-top: 50px;
    margin-left: 20px;
}

.container-categorias {
    margin-top: 50px;
}

.nav-link {
    color: white;
    font-size: x-large;
}

.nav-link:hover {
    color: gray;
}

.portfolio {
    margin-top: 50px;
}

.row-custom {
    margin-top: 10px;
}

.fotografa-img {
    width: 20em;
}

.contato-direto{
    position:fixed;
    right: 10px;
}
.contato-direto-item{
    margin-bottom: 10px;
}