<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/styles.css">

    <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>

    <style>

    </style>
</head>

<body>
    {% from 'macros/header.html' import header %}
    {% from 'macros/apresentacao.html' import apresentacao %}
    {% from 'macros/contato-direto.html' import contato_direto %}
    {% from 'macros/footer.html' import footer %}

    {{header()}}
    <hr class="my-4">
    {{apresentacao()}}
    {{contato_direto()}}
    <div class="container container-categorias">
        <div class="row row-custom justify-content-center">
            {% for tema in temas %}
            <div class="col-sm-4">
                <a class="nav-link" href={{url_for("tema", tema_arg=tema["tema_id"]) }}>
                    <h2 class="text-center">{{tema["nome"]}}</h2>
                    <p class="tema-descricao">{{tema["descricao"]}}</p>
                    <img class="img-thumbnail" src={{ url_for("static", filename=tema["foto"]) }} />
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


    {{footer()}}

</body>

</html>